/* --------- Global style */

body {
    background-color: #98D7C2;
    font-family: "Montserrat Alternates", sans-serif;
    color: #3f3f5b;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    display: inline-block;
    margin: auto;
    padding: 30px;
}

.popup {
    display: inline-block;
    float: left;
    margin: 30px;
}

.fas {
    display: inline-block;
    float: left;
    margin: 50px;
    font-size: 30px;

}
.fas:hover {
    color: #91161A;
}

.quiz {
    height: 60px;
    padding-right: 5px;
    display: inline-block;
}

.reset {
    display: inline-block;
    float: right;
    margin: 30px;
    background-color: #eae510;
    color:#91161A;
    border-color:#91161A;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#reset:hover {
    background-color: #91161A;
    color: #eae510;
    transition: 0.7s;
}

#question {
    display: inline-block;
    height: 60px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #98D7C2;
    width: 800px;
    border: 3px solid rgb(37, 130, 129);
    padding: 20px;
    margin: auto;
    border-radius: 15px;
}

#question-header{
    font-weight: bolder;
    font-size: 16px;
margin: auto;
padding: 30px;

}

#answers-area {
    height: 200px;
    width: 800px;
    margin: auto;
}

.first-options {

    width: 38%;
    float: left;
    background-color: #98D7C2;
    padding: 1%;
    clear: both;
    height: 200px;
    overflow: hidden;
    margin-top: 10px;
}

.second-options {

    width: 38%;
    float: right;
    background-color: #98D7C2;
    padding: 1%;
    height: 200px;
    overflow: hidden;
    margin-top: 10px;
}

.timer {
    width: 90px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    top: 50%;
    transform: translateY(50%);
    padding-top: 30px;
    background: #c99193;
    border: 2px solid #3f3f5b;
    color: #3f3f5b;
    text-align: center;
    font: 18px 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.options {

    text-align: left;
    font-size: 1.0rem;
    margin: 10px;
    width: 95%;
    padding: 10px;
    background-color: #eae683;
    color: #3f3f5b;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #3f3f5b;
}

.options:hover {
    background-color: #eae510;
    transition: 0.7s;
}

.options:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #91161A;
    transition: 0.7s;
}



#correct {
    color: #116530;
    font-weight: bold;
    font-size: 1.8rem;
}

#incorrect {
    color: #91161A;
    font-weight: bold;
    font-size: 1.8rem;
}

.scores {
    display: inline-block;
    padding: 25px;
    margin: 0;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #eae683;
    text-shadow: -1px 0 #91161A, 0 1px #91161A, 1px 0 #91161A, 0 -1px #91161A;
    letter-spacing: 2px;
}

#background {
    float: right;
    height: auto;
    width: 280px;
    display: inline-block;


}

.popup {
    position: fixed;
    width: 200px;
    height: 150px;
    font-family: verdana;
    font-size: 13px;
    padding: 10px;
    background-color: #eae683;
    border: 2px solid grey;
    z-index: 100000000000000000;
}

.cancel {
    display: relative;
    cursor: pointer;
    margin: 0;
    float: right;
    height: 25px;
    width: 25px;
    padding: 0;
    text-align: center;
    background-color: #3f3f5b;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #eae510;
    border-radius: 3px;
    z-index: 100000000000000000;
}

.cancel:hover {
    background: #91161A;
}