/* --------- Global style */

body {
    background-color: #98D7C2;
    font-family: "Lato", sans-serif;
    color: #3f3f5b;
    text-align: center;
}

/* --------- Heading */

.heading {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    display: inline-block;
    margin: auto;
    padding: 20px;
}

/*styling pupop*/

.popup {
    display: inline-block;
    float: left;
    margin: 30px;
}

.fas {
    display: inline-block;
    float: left;
    margin: 0 50px 0 50px;
    font-size: 30px;
}

.fas:hover {
    color: #91161A;
}

.popup {
    position: fixed;
    text-align: left;
    width: 200px;
    height: 250px;
    font-family: verdana;
    font-size: 13px;
    padding: 10px;
    background-color: #eae683;
    border: 2px solid grey;
    border-radius: 15px;
    z-index: 100000000000000000;
}

.cancel {
    display: relative;
    cursor: pointer;
    margin: 10px;
    float: right;
    height: 25px;
    width: 25px;
    padding: 0;
    text-align: center;
    background-color: #3f3f5b;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #eae510;
    border-radius: 3px;
    z-index: 100000000000000000;
}

.cancel:hover {
    background: #91161A;
}

/* reset button*/

.reset {
    display: inline-block;
    float: right;
    margin-right: 60px;
    background-color: #eae510;
    color: #91161A;
    border-color: #91161A;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#reset:hover {
    background-color: #91161A;
    color: #eae510;
    transition: 0.7s;
}

/* quiz styling*/
.quiz {
    height: 60px;
    display: inline-block;
}

#question {
    display: inline-block;
    clear: both;
    height: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #98D7C2;
    width: 800px;
    border: 3px solid #3f3f5b;
    padding: 20px;
    margin: 0 auto;
    border-radius: 15px;
}

#question-header {
    font-weight: bolder;
    font-size: 16px;
    margin: auto;
    padding: 30px;
    display: inline-block;
}

#circles {
    width: auto;
    height: 30px;
    clear: both;
}

/*options*/

#answers-area {
    height: 200px;
    width: 800px;
    margin: auto;
}

.first-options {

    width: 38%;
    float: left;
    background-color: #98D7C2;
    padding: 1%;
    clear: both;
    height: 200px;
    overflow: hidden;
    margin-top: 10px;
}

.second-options {

    width: 38%;
    float: right;
    background-color: #98D7C2;
    padding: 1%;
    height: 200px;
    overflow: hidden;
    margin-top: 10px;
}

.options {
    text-align: left;
    font-size: 16px;
    margin: 10px;
    width: 95%;
    padding: 10px;
    background-color: #eae683;
    color: #3f3f5b;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #3f3f5b;
}

.options:hover {
    background-color: #eae510;
    transition: 0.7s;
}

.options:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #91161A;
    transition: 0.7s;
}

/*countdown timer*/

.timer {
    width: 90px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    top: 50%;
    transform: translateY(50%);
    padding-top: 30px;
    background: #c99193;
    border: 2px solid #3f3f5b;
    color: #3f3f5b;
    text-align: center;
    font: 18px 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#time-out {
    font-size: 16px;
    font-family: 'Lato', sans-serifs;
    color: #116530;
    font-weight: bolder;
    margin: auto;
    clear: both;
}

/*correct scores*/
.scores {
    display: inline-block;
    padding: 10px;
    margin: 0;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #eae683;
    text-shadow: -1px 0 #91161A, 0 1px #91161A, 1px 0 #91161A, 0 -1px #91161A;
    letter-spacing: 2px;
}

/*background image*/
#background {
    float: right;
    height: auto;
    width: 220px;
    display: inline-block;
    margin-right: 30px;
}

/* --------- Media queries */

@media (max-width: 800px) {

    #answers-area {
        width: 100%;
        margin: auto;
        clear: both;
    }

    .first-options {
        height: auto;
    }

    .second-options {
        height: auto;
    }

    #question {
        clear: both;
        height: auto;
        width: auto;
    }
}

@media (max-width: 500px) {
    .timer {
        clear: both;
        width: 40px;
        height: 30px;
        font-size: 10px;
        padding: 15px 5px 5px 5px;
        transform: none;
        display: block;
    }

    #background {
        clear: both;
    }

    .scores {
        clear: both;
    }

    #time-out {
        margin: 20px;
        padding: 20px;
    }

}

@media (max-width: 400px) {

    .first-options {
        width: auto;
        float: none;
    }

    .second-options {
        width: auto;
        float: none;
    }

    #background {
        display: none;
    }

    .scores {
        position: relative;
        width: 100%;
        display: block;
    }

    #answers-area {
        width: 100%;
        margin: auto;
        clear: both;
        display: table;
    }
}